<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%block name="title"/></title>
    <link rel="stylesheet" href="../static/stylesheets/css.css" type="text/css" />
    <script type="text/javascript" src="../static/javascripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../static/javascripts/displayMessage.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
      $.get("/auth/getUserInfo", function (html) {
      $("div#userinfo").append(html);
      });
      })
    </script>
    <%block name="jsfile"/>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>PPTM News
        <div id="userinfo">
        </div></h1>
      </div>
      <%block name="nav"/>
      <div id="content">
        ${self.body()}
      </div>
      <div id="extra">
      </div>
      <div id="footer">
        <p>&#169; Powered by Xsoda</p>
        <p>花开堪折直须折，莫待无花空折枝。</p>
      </div>
    </div>
  </body>
</html>

