<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%block name="title"/></title>
    <link rel="stylesheet" href="../static/stylesheets/css.css" type="text/css" />
    <script type="text/javascript" src="../static/javascripts/jquery-1.7.2.min.js"></script>
    <%block name="jsfile"/>
  </head>
  <body>
    <div style="margin:auto; width: 800px">
    <%include file="./nav.html"/>
    <%block name="header"/>
    <div id="page">
      当前位置: <%block name="current_position" />
      <div id="content">
        <span class="content_post_top"></span>
    ${self.body()}
        <span class="content_post_bottom"></span>
      </div>
    </div>
    <div id="footer">
     <p>&#169; Powered by Xsoda</p>
    </div>
    </div>
  </body>
</html>

