<%inherit file="base.html"/>
<%namespace file="pagination.html" import="pagination"/>
<%namespace file="nav.html" import="navigation"/>
<%block name="nav">
${navigation(0)}
</%block>
<style type="text/css">
  * { margin: 0; padding: 0; }
  body { margin: 10px; font-size: 14px; font-family: 宋体; }
  h1 { font-size: 26px; margin: 10px 0 15px; }
  #commentHolder { width: 540px; border-bottom: 1px solid #aaa; }
  .comment { padding: 5px 8px; background: #f8fcff; border: 1px solid #aaa; font-size: 14px; border-bottom: none; }
  .comment p { padding: 5px 0; }
  .comment p.title { color: #1f3a87; font-size: 12px; }
  .comment p span { float: right; color: #666 }
  .comment div { background: #ffe; padding: 3px; border: 1px solid #aaa; line-height: 140%; margin-bottom: 5px; }
  .comment div span { color: #1f3a87; font-size: 12px; }
</style>
<%block name="title">
PPTM News
</%block>

%if newsinfo:
<h3 class="title">评论: ${newsinfo['title']}</h3>

<div class="notice" style="color: #666;text-align:center;">
  发布时间: ${newsinfo['postedat']}   |    编辑: ${newsinfo['author']}    |    评论:
  %if newsinfo['commentnum']:
  ${newsinfo['commentnum']}
  %else:
  0
  %endif
</div>
<div id="commentsHolder">
</div>
%if comment_num:
<div class="pagination">
  ${pagination(comment_num, 'getComments', newsinfo['id'])}
</div>
%endif

<h3 class="title">发表评论</h3>
<p class="notice">发表评论请客观、公正，请文明用语。</p>
<div class="notice" id="quote"></div>
<form method="post" id="commentform" name="commentform" action="/data/addComment">
  <p>
    <textarea name="comment" id="comment" cols="90%" rows="10" tabindex="4"></textarea>
  </p>
  <p>
    <input type="submit" value="提交评论">
    <input type="hidden" name="comment_post_id" value="${newsinfo['id']}">
    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
    ${xsrf}
  </p>
</form>
%endif
%if comment_num:
<script type="text/javascript">
  $(document).ready(function () {
  var url = $("a.active").attr("id");
  $.get(url, function (html) {
  $("div#commentsHolder").append(html);
  });
  });
  
  function pageJump(obj) {
      $("a.active").removeClass("active");
      $.get(obj.attr("id"), function (html){
           obj.addClass("active");
           $("div#commentsHolder").empty();
           $("div#commentsHolder").append(html);
      });
  }
  
  function delComment(id) {
  $.get("/~/delComment_" + id, function (html) {
  if(html == "done") {
  displayMessage("评论删除成功");
  $("div#" + id).empty()
  } else {
  displayMessage("评论删除失败")
  }
  });
  }

  function addQuote(id){
  $("div#quote").empty();
  $("div#quote").append("引用 #" + id + " 的评论.");
  $("input#comment_parent").attr("value", id);
  }
</script>
%endif
<script type="text/javascript">
  $(document).ready(function(){
  $("#commentform").live("submit", function(){
  addComment($(this));
  return false;
  });
  alert("addlive");
  });

  function addComment(form){
  var args = form.formToDict();
  var disabled = form.find("input[type=submit]");
  disabled.disabled();
  alert("addcomment");
  $.postJSON("/data/addComment", args, function(response){
  alert(response);
  if(response == "done") {
  displayMessage("评论成功");
  document.URL = location.href;
  }else{
  displayMessage("评论失败");
  disabled.enable();
  }
  });
  }

</script>
