<%inherit file="base.html"/>
<%namespace file="pagination.html" import="pagination"/>
<style type="text/css">
  * { margin: 0; padding: 0; }
  body { margin: 10px; font-size: 14px; font-family: 宋体; }
  h1 { font-size: 26px; margin: 10px 0 15px; }
  #commentHolder { width: 540px; border-bottom: 1px solid #aaa; }
  .comment { padding: 5px 8px; background: #f8fcff; border: 1px solid #aaa; font-size: 14px; border-bottom: none; }
  .comment p { padding: 5px 0; }
  .comment p.title { color: #1f3a87; font-size: 12px; }
  .comment p span { float: right; color: #666 }
  .comment div { background: #ffe; padding: 3px; border: 1px solid #aaa; line-height: 140%; margin-bottom: 5px; }
  .comment div span { color: #1f3a87; font-size: 12px; }
</style>
<%block name="title">
PPTM News
</%block>

<%block name="header">
<div id="head">
  <img src="../static/images/logo.gif">
</div>
</%block>
%if newsinfo:
<%block name="current_position">
${newsinfo['category']}&nbsp;&gt;&nbsp;${newsinfo['title']}&nbsp;&gt;&nbsp;评论
</%block>

<h3 class="title">评论: ${newsinfo['title']}</h3>

<div class="notice" style="color: #666;text-align:center;">
  发布时间: ${newsinfo['postedat']}   |    编辑: ${newsinfo['author']}    |    评论:
  %if newsinfo['commentnum']:
  ${newsinfo['commentnum']}
  %else:
  0
  %endif
</div>
<div id="commentsHolder">
</div>
<div class="pagination">
  ${pagination(1, pages, 'getComment', newsinfo['id'])}
</div>
<h3 class="title">发表评论</h3>
<p class="notice">发表评论请客观、公正，请文明用语。</p>
<form action="/data/addComment" method="post" id="commentform" name="commentform">
  <p>
    <textarea name="comment" id="comment" cols="90%" rows="10" tabindex="4"></textarea>
  </p>
  <p>
    <input name="submit" type="submit" id="submit" class="f-submit" tabindex="5" value="提交评论">
    <input type="hidden" name="comment_post_id" value="${newsinfo['id']}">
    <input type="hidden" name="comment_parent" id="comment-parent" value="0">
    ${xsrf}
  </p>
</form>
%endif
<script type="text/javascript">
  $(document).ready(function () {
  $.get("/data/getComments_${newsinfo['id']}_1", function (html) {
  $("div#commentsHolder").append(html);
  })
  })
</script>
