<%inherit file="base.html"/>

<%block name="title">
PPTM News
</%block>

<%block name="header">
<div id="head">
  <img src="../static/images/logo.gif">
</div>
</%block>

<%block name="current_position">
${position}
</%block>

<h3 class="title">${position}</h3>
%if newses:
%for news in newses:
<div id="news_${news['id']}" class="box">
  [${news['category']}]&nbsp;${news['title']} <lable style="float:right; color: #666;">${news['commentnum']}评论 @${news['postedat']} By ${news['author']}</lable>
</div>
%endfor
%endif

<script type="text/javascript">
  $(document).ready(function(){
  $("div.box").click(function(){
  open($(this).attr("id"));
  });
  });
</script>
