<%inherit file="base.html"/>
<%namespace file="nav.html" import="navigation"/>
<%block name="nav">
${navigation(0)}
</%block>
<%block name="title">
PPTM News
</%block>

<h1 class="title">登录</h1>
<div class="notice">
    <table>
      <tr><td>用户名:</td><td><input type="text" name="user_name" id="user_name"></td></tr>
      <tr><td>密码:</td><td><input type="password" name="user_password" id="user_password"></td></tr>
      <tr><td><input type="submit" value="登录" onClick="javascript:Login();"></td><td><input type="reset" value="重置"></td></tr>
      ${xsrf}
    </table>
</div>
<script type="text/javascript">
  function Login(){
  $.post("#", {user_name: $("#user_name").val(), user_password: $("user_password").val(), _xsrf: $("_xsrf").val()},
  function (data) {
  if (data == "done") {displayMessage("登录成功");}
  else {displayMessage("登录失败")}
  }
  );
  }
</script>
