<%inherit file="base.html"/>
<%namespace file="pagination.html" import="pagination"/>
<%block name="title">
PPTM News
</%block>

<%block name="header">
<div id="head">
  <img src="../static/images/logo.gif">
</div>
</%block>

<%block name="current_position">
${position}
</%block>

<h1>${position}新闻</h1>
%if newses:
<div id="news">
%for news in newses:
<div id="news_${news['id']}" class="comments_list">
  [${news['category']}]&nbsp;${news['title']} <lable style="float:right; color: #666;">${news['commentnum']} 评论 @${news['postedat']} By ${news['author']}</lable>
</div>
%endfor
</div>
${pagination(page, pages, 'category', newses[0]['id'])}
%else:
 <p><strong>${position}</strong> 分类下还没有添加新闻。</p>
%endif

<script type="text/javascript">
  $(document).ready(function(){
  $("div#news>div.comments_list").click(function(){
  open($(this).attr("id"));
  });
  });
</script>
