<%inherit file="base.html"/>
<%namespace file="pagination.html" import="pagination"/>
<%namespace file="nav.html" import="navigation"/>
<%block name="nav">
${navigation(categoryid)}
</%block>
<%block name="title">
PPTM News
</%block>

<h1 style="text-align:center;">${position}新闻</h1>
%if newses:
        <div id="news">
        %for news in newses:
                <div id="news_${news['id']}" class="box">
                  [${news['category']}]&nbsp;${news['title']} <lable style="float:right; color: #666;">${news['commentnum']} 评论 @${news['postedat']} By ${news['author']}</lable>
                </div>
        %endfor
        </div>
        ${pagination(pages, 'category', categoryid)}
%else:
        <p><strong>${position}</strong> 分类下还没有添加新闻。</p>
%endif

<script type="text/javascript">
  $(document).ready(function(){
        $("div#news>div.box").click(function(){
                open($(this).attr("id"));
        });
  });
</script>
