<%inherit file="base.html"/>
<%namespace file="nav.html" import="navigation"/>
<%block name="nav">
${navigation(0)}
</%block>
<%block name="title">
PPTM News
</%block>

<h1 class="title">注册</h1>
<div class="notice">
  <form action="/auth/register" method="post" id="register">
    <table>
      <tr><td>用户名:</td><td><input type="text" name="user_name"></td></tr>
      <tr><td>密码:</td><td><input type="password" name="user_password"></td></tr>
      <tr><td>重复密码:</td><td><input type="password" name="repeat_password"></td></tr>
      <tr><td>电子邮件:</td><td><input type="text" name="email"></td></tr>
      <tr><td><input type="submit" value="注册"></td><td><input type="reset" value="重置"></td></tr>
      ${xsrf}
    </table>
  </form>
</div>

<script type="text/javascript">
  $(document).ready(function () {
  $("#register").live("submit", function(){
  register($(this));
  return false;
  });
  });

  function register(form){
  var args = form.formToDict();
  var disabled = form.find("input[type=submit]");
  $.postJSON("#", args, function(response){
  if(response == "done") {
  displayMessage("注册成功");
  top.location="/auth/login";
  }else if (response == "db error") {
  displayMessage("该用户名或邮箱已经注册");
  }else{
  displayMessage("注册失败");
  }
  });
  }
</script>
