#screen {
    width: 998px;
    margin: 0px auto;
    text-align: left;
    padding: 0 4px;
    margin-bottom: 50px;
}

#page {
}

#banner {
    padding: 2px 0 5px 0;
    text-align: left;
}

#nav {
    height: 30px;
    background: #40AA53;
    clear: both;
    padding: 0 4px 0 10px;
}

#footer {
    margin-top: 20px;
    padding-bottom: 50px;
    height: 38px;
    line-height: 38px;
    border-top: 2px solid #CCC;
    color: #737573;
    text-align: center;
}