body, html, input, textarea, select {
    margin: 0;
    padding: 0;
    background: #FFF;
    font-family: 微软雅黑, Verdana, sans-serif, 宋体;
    font-size : 90%;
}

a {
    color: #2244BB;
    outline: 0;
}

a.action {
    color: #c00;
}

a.rndbutton {
    background: #666;
    color: white;
    text-decoration: none;
    height: 30px;
    float: left;
    margin: 0;
    border: 0px solid black;
    font-weight: bold;
    cursor: pointer;
}

.light {
    color: #888;
}

.last {
    color: #666;
    font-size: 11px;
}

div.error {
    background: #CC0000;
}

div.success {
    background: #2E9F27;
    color: #fff;
    font-weight: bold;
    padding: 4px;
    margin-bottom: 10px;
}

p {
    margin: 2px 0 20px 0;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 1em;
}

h1 {
    border-bottom: 1px solid #A0A0A0;
    color: black;
    font-size: 180%;
    font-weight: bold;
    margin: 15px 0 15px;
    padding-bottom: 5px;
    display: block;
}
#footer{
    border-top: 1px solid #A0A0A0;
    margin: 20px 0 20px 0;
    text-align: center;
}
.box {
    background-color: #F0F0F0;
    border: 1px solid #A0A0A0;
    padding: 0.5em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px
}

table {
    width: 100%;
    border-collapse: collapse;
    border-right: 1px solid #ccc;
}

thead {
    background: #111;
    color: #fff;
}

th {
    text-align: left;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #333;
    border-bottom: 1px solid #ccc;
}

td {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    vertical-align: middle;
}

td.infos {
    background: #EEEEEE;
    width: 30%;
    font-size: 11px;
}

form.error {
    color: #c00;
    background: white;
    font-size: normal;
}