body, table, input, textarea, select {
    font-family: 微软雅黑, Verdana, sans-serif, 宋体;
}

a {
    color: #46B;
    outline: 0;
}

a.rndbutton{
    background: #666;
    color: white;
    text-decoration: none;
    height: 30px;
    float: left;
    margin: 0;
    border: 0px solid black;
    font-weight: bold;
    cursor: pointer;
}

